@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&family=Poppins:wght@300;400;500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.logo {
	font-family: 'MuseoModerno', cursive;
	letter-spacing: -3px;
	color: #777373;
	display: inline-block;
	font-size: 1.75em !important;
}

.logo::first-letter {
	color: #12ADBF;
}

.avatar {
    width: 2.5em;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    flex-grow: 0;
    flex-shrink: 0;
}